@CHARSET "UTF-8";
.feature-top .img-responsive{
	 -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 1683ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 1683ms;
}

.feature-top .img-responsive:hover{
	-webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 1683ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 1683ms;
}

.feature-top{
	overflow: hidden;
}

.news_img{
	overflow: hidden;
	width:200px;
	height:120px;
}

.feature-top:hover{
	transform: translate(10px, -10px);
    -webkit-transform: translate(10px, -10px);
    -moz-transform: translate(10px, -10px);
    -o-transform: translate(10px, -10px);
    -ms-transform: translate(10px, -10px);
    -moz-transition-duration: 1000ms;
    cursor:pointer;
}

.forsale-grids:hover{
	transform: translate(-10px, 0px);
    -webkit-transform: translate(-10px, 0px);
    -moz-transform: translate(-10px, 0px);
    -o-transform: translate(-10px, 0px);
    -ms-transform: translate(-10px, 0px);
    -moz-transition-duration: 800ms;
    cursor:pointer;
} 

.news-content p{
	position:relative;
	line-height:1.8em;
	height:5.4em;
	overflow:hidden;
}

.news-content p::after {
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
}

.feature-top p{
	position:relative;
	line-height:1.8em;
	height:5.4em;
	overflow:hidden;
}


