.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow: hidden;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out;-ms-transition: height 500ms ease-in-out;-o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* mouse grab icon */
.grabbing {cursor:url(grabbing.png) 8 8, move;}
/* fix */
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility: hidden;-moz-backface-visibility:    hidden;-ms-backface-visibility:     hidden;-webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0);}
#owl-demo { position: relative; width: 100%; margin-left: auto; margin-right: auto;}
#owl-demo .item{ position: relative; display: block;}
#owl-demo img { display: block; width: 100%;}
#owl-demo b { position: absolute; left: 0; bottom: 0; width: 100%; height: 78px; background-color: #000; opacity: .5; filter: alpha(opacity=50);}
#owl-demo span { position: absolute; left: 0; bottom: 37px; width: 100%; font: 18px/32px "寰蒋闆呴粦","榛戜綋"; color: #fff; text-align: center;}
.owl-pagination { position: absolute; bottom: 0px; width:1200px; height: 22px; text-align: right;}
.owl-page { display: inline-block; width:13px; height: 13px; margin: 0 5px; background-image:url(../images/icon8.png); *display: inline; *zoom: 1;}
.owl-pagination .active { background-image: url(../images/icon9.png);}
.owl-buttons { display: none;}
.owl-buttons div { position: absolute; top: 50%; width: 24px; height: 48px; margin-top: -40px; text-indent: -9999px;}

/* @media screen and (max-width: 579px) {.owl-pagination{bottom:0px;height:15px;}} */

.hui_bg{ width:100%; background:#DDDDDD; position:relative; z-index:1;}
.i_ma{ width:1000px; margin:0px auto;}
.i_ma li{ width:296px; float:left;border-right:2px solid #FFF; margin-right:27px; padding:50px 27px 20px 0;}
.i_ma li .tu{ width:290px; height:163px; border:3px solid #FFF; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; position:relative;}
.i_ma li .tu img{ width:290px; height:163px; vertical-align:top;}
.i_ma li .bg,.i_ma li .videoRow-box .bg{ width:296px; height:15px; position:absolute; left:0; bottom:-18px;}
.i_ma li .videoRow-box .bg{ bottom:-15px;}
.i_ma li .bg img,.i_ma li .videoRow-box bg img{ width:100%; height:auto; vertical-align:top;}
.i_ma li .title{ width:100%; height:45px; line-height:45px; text-align:center; padding-top:25px;}
.i_ma li .title a{ font-size:24px;}
.i_ma li .title a em{ font-size:14px; color:#656565;}
.i_ma li .title a:hover em{ color:#E52129;}
.i_ma li .des{ width:90%; margin:0px auto; text-align:center; height:40px; overflow:hidden; font-size:12px; color:#656565; line-height:175%;}
.i_ma li .videoRow-box{ width:296px; height:163px; position:relative;}
.videoRow-box video,.videoRow-box embed{width:100%;height:100%;}
.rel{position:relative;}
.play-btn{position:absolute;top:50%;left:50%;background-color:#fff;opacity:0.9;color:#2b2b2b;margin:-30px 0 0 -30px;border-radius:50%;text-align:center;line-height:1;width:60px; height:60px;}
.videoRow-box .play-btn img{ width:60px; height:60px; vertical-align:top;}
.videoImg{position:relative;display:block;z-index:9;}
.videoPlay{opacity:0;position:absolute;top:0;left:0;z-index:1;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s;}
.videoImg.play{opacity:0;z-index:-1;}
.videoPlay.play{opacity:1;}
.i_mb{ width:1000px; margin:0px auto; padding-bottom:30px;}
.i_mb .box_h{ width:100%; height:40px; line-height:40px; text-align:left; border-bottom:1px solid #ddd; margin-bottom:10px; font-size:18px;}
.i_mb .box_m{ width:100%; position:relative;}
.slidegrid {float: left;position: relative;overflow: hidden;}
.slideitems {width: 2000000em;position: absolute;}
.slideitems li {float: left;}
.mainPhoto {width:100%;height: 150px;margin: 0 auto;position: relative;}
.mainPhoto span.goleft, .mainPhoto span.goright {display: block;width: 28px;height:55px;position: absolute;top:50px;}
.mainPhoto span.goleft {left:-38px;}
.mainPhoto span.goright {right:-38px;}
.mainPhoto .go {width:100%;	height: 150px;position: relative;left:0;overflow: hidden}
.mainPhoto .go li {width:182px;height:150px;margin-right: 22px;overflow: hidden}
.mainPhoto .go li img {width:182px;height:150px;}
.bg_a{ width:100%; background:#F2F2F2;}
.f_nav{ width:1000px; margin:0px auto; padding:40px 0 30px;}
.f_nav li{ width:190px; float:left; padding-right:20px; margin-right:20px; background:url(../images/line.png) no-repeat right top; min-height:158px; font-size:12px;}
.f_nav li.f_ct{ width:200px}
.f_nav li.dz{ background:none; padding-right:0; margin-right:0; width:280px;}
.f_nav li .name b{ display:inline-block; *display:inline; zoom:1; height:40px; line-height:40px; position:relative; font-size:16px;}
.f_nav li .name b i{ display:block; width:48px; height:40px; position:absolute; right:-30px; top:-28px; background:url(../images/icon4.png) no-repeat;}
.f_nav li p{ width:100%; height:25px; line-height:25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-top:7px;}
.f_nav li p img,.f_nav li p span{ display:inline-block; *display:inline; zoom:1; height:25px; line-height:25xp; vertical-align:top;}
.f_nav li .share{ width:100%; text-align:center; height:auto;}
.f_nav li .share img{ width:36px; height:35px;}
.f_nav li.dz p{ width:100%; height:auto; white-space:normal; line-height:145%; position:relative; padding-bottom:5px;}
.f_nav li.dz p .map{ display:inline-block; *display:inline; zoom:1; padding-left:50px; background:url(../images/icon7.png) no-repeat left center; height:35px; float:right; line-height:35px; margin-top:-5px;}
.f_nav li.dz .f_s{ width:100%; height:30px; background:#FFF; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; position:relative; background:#FFF; overflow:hidden;}
.f_nav li.dz .f_s input[type="text"]{ width:220px; height:30px; border:0; background:none; line-height:30px; padding:0 5px; position:absolute; left:0; top:0;}
.f_nav li.dz .f_s input[type="submit"]{ width:70px; height:30px; position:absolute; right:0; top:0; cursor:pointer; background:#FF3333; color:#FFF; text-align:center; line-height:30px; border:0;}
.f_bg{ width:100%; background:#333333; padding:15px 0;}
.bq{ width:1100px; margin:0px auto;}
.bq .bq_l{ width:40%; height:20px; line-height:20px; text-align:left; font-size:12px; color:#FFF; float:left;}
.bq .bq_l a{ color:#FFF;}
.bq .bq_r{ width:50%; height:20px; line-height:20px; text-align:right; float:right; color:#FFF; font-size:12px;}
.banner_s ,.banner_s img{ width:100%; height:auto; vertical-align:top; box-shadow:0 0 0 #FFF;}
.pst_bg{ width:100%; height:50px; background:#E5E5E5; box-shadow:0 2px 4px #999;}
.pst{ width:1100px; margin:0px auto; position:relative;}
.pst span{ display:inline-block; *display:inline; zoom:1; height:45px; line-height:45px; vertical-align:top; margin-top:2px; padding-right:20px; background:url(../images/line_a.jpg) no-repeat right center; font-size:16px; color:#656565;}
.pst .pst_r{ width:60%; height:50px; line-height:50px; text-align:right; position:absolute; right:0; top:0; font-size:16px; color:#656565;}
.pst .pst_r a{ font-size:16px; color:#656565;}
.pst .pst_r a.on,.pst .pst_r a:hover{ color:#910023;}
.scd{ width:1100px; margin:0px auto;}
.pages{ width:100%; text-align:center; margin-bottom:25px;}
.pages a{ display:inline-block; *display:inline; zoom:1; height:22px; line-height:22px; border:2px solid #eee; margin:0 1px; font-size:12px; color:#555; padding:0 5px;}
.pages a.now{ color:#FFF; font-weight:bold; background:#910023; border-color:#910023;}
.news{ width:100%; padding-top:15px;}
.news dl{ width:100%;padding-bottom:20px; border-bottom:1px dashed #ddd; margin-bottom:20px;}
.news dl dt{ width:235px; height:135px; float:left;}
.news dl dt img{ width:235px; height:135px; vertical-align:top;}
.news dl dd{ width:845px; float:right; text-align:left;}
.news dl dd .title{ width:100%; height:30px; line-height:30px; position:relative;}
.news dl dd .title p{ width:60%; height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:16px; font-weight:bold;}
.news dl dd .title em{ display:block; width:20%; text-align:right; position:absolute; right:0; top:0; font-size:14px; color:#F12933;}
.news dl dd .des{ width:100%; height:70px; font-size:14px; color:#555555; text-indent:2em; line-height:170%; overflow:hidden;}
.news dl dd .more{ width:100%;}
.news dl dd .more a{ display:block; width:90px; height:28px; font-size:14px; color:#F12933; text-align:center; line-height:28px; border:1px solid #F12933; margin-top:5px;}
.contact{ width:100%; margin:0px auto; padding:30px 0;}
.contact .ct{float:left;width:520px; font-size:14px; color:#656565; line-height:175%;}
.contact .ct_l{ border-right:1px solid #ddd; margin-right:30px;}
.contact .ct .title{ width:100%; height:50px; line-height:50px; font-size:24px; color:#F12932; font-weight:500;}
.contact .ct .des{ width:100%; height:125px; overflow:hidden; margin-bottom:30px;}
.contact .ct .map,.contact .ct .map img{ width:490px; height:312px; vertical-align:top;}
.about{ width:100%; text-align:left; font-size:14px; color:#555; line-height:175%;}
.about h1{ width:100%; padding:30px 0 15px; text-align:center; font-size:16px; color:#000;}
.about .ctn{ width:100%; margin-bottom:40px;}
.service{ width:100%; text-align:left;}
.service .s_title{ width:100%; padding:20px 0 10px; text-align:left; height:40px; line-height:40px; font-size:24px; color:#F12A33;}
.service ul{ width:100%;}
.service ul li{ width:100%; padding-bottom:25px; border-bottom:1px dashed #ddd; margin-bottom:25px;}
.service ul li p{ width:100%; height:30px; line-height:30px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.service ul li p a{ font-size:14px;}
.service ul li p  em{ padding-right:10px;}
.pro{ width:100%;}
.pro .pro_a ,.pro .pro_b{ width:100%;}
.pro .pro_a{ padding-bottom:30px; border-bottom:1px dashed #aaa; margin-bottom:30px; padding-top:15px;}
.pro .l_nav{ width:220px; float:left; border:2px solid #faa43d;}
.pro .l_nav .name{ width:100%; height:60px; text-align:center; line-height:60px; font-size:30px; color:#FFF; background:#faa43d;}
.pro .l_nav ul{ width:100%;}
.pro .l_nav ul li{ width:100%; height:40px; line-height:40px; text-align:center; border:1px solid #FFF; background:#faa43d;}
.pro .l_nav ul li a{ display:block; padding-left:50px; width:170px; height:40px; line-height:40px; font-size:14px;color:#FFF; } 
.pro .r_m{ width:840px; float:right;}
.pro .p_l{ width:100%;}
.pro .p_l li{ width:410px; float:left; border:1px solid #ddd; margin-right:13px; margin-bottom:15px;}
.pro .p_l li img{ width:410px; height:360px; vertical-align:top;}
.pro .p_l li .title{ width:100%; height:73px; text-align:center; line-height:73px; background:url(../images/bg_b.jpg) repeat-x; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:17px; color:#F12933;}
.pro_d{ width:100%; padding-top:15px;}
.pro_d .pro_da{ width:100%;}
.pro_d .pro_da dt{ width:500px; height:430px; float:left;}
/*.pro_d .pro_da dt img{ width:350px; height:265px; vertical-align:top;}*/
.pro_d .pro_da dd{ width:555px; float:right;}
.pro_d .pro_da dd h1{ font-size:18px; color:#000000; padding:15px 0;line-height:175%; font-weight:normal; text-align:center;}
.pro_d .pro_da dd .des{ width:100%; font-size:14px; color:#777777; line-height:175%; max-height:450px; overflow:hidden;}
#preview{ float:none; margin-left:0px;text-align:center; width:365px;}
.jqzoom{ width:500px; height:335px; position:relative;}
.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:500px; height:90px; padding-top:10px; overflow:hidden;}
#spec-left{ background:url(../plugins/pro/images/left.gif) no-repeat; width:10px; height:45px; float:left; cursor:pointer; margin-top:20px;}
#spec-right{background:url(../plugins/pro/images/right.gif) no-repeat; width:10px; height:45px; float:left;cursor:pointer; margin-top:20px;}
#spec-list{ width:450px; float:left; overflow:hidden; margin-left:2px; display:inline;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:92px;}
#spec-list ul li img{ border:1px solid #ccc; width:80px; height:80px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0; overflow:hidden;}
.jqzoom img{ width:500px; height:335px;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.pro_d .pro_da dt .bigimg{width:529px;height:401px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move; width:120px !important; height:120px !important;}
#spec-list{ position:relative; width:470px; margin-right:6px;}
#spec-list div{ margin-top:0;margin-left:8px; *margin-left:0; width:460px !important;}
.pro_dm{ width:100%; text-align:left; line-height:180%; margin-top:40px;}
.pro_dm .tabBox_t , .pro_dm .tabBox  {width:100%;text-align:left;}
.pro_dm .tabBox_t{ width:100%; margin:0px auto;}
.pro_dm .tabBox .tabNav { width:100%; border-bottom:1px dashed #ccc; text-align:center;}
.pro_dm .tabBox .tabNav li{ display:inline-block; *display:inline; zoom:1; font-size:18px; padding:0 15px; border-right:1px solid #ddd; height:20px; line-height:20px; margin-bottom:10px; cursor:pointer;}
.pro_dm .tabBox .tabNav li.now{ color:#FF3333;}
.pro_dm .tabBox .tabCont { width:100%; padding:20px 0; font-size:14px; color:#000; line-height:200%; display:none;}
.pro_bm{ width:870px; margin:0px auto; padding:30px 0;}
.da{ width:870px; margin:0px auto; position:relative;}
.da dt{ width:870px; height:555px; float:left;}
.da dt img{ width:870px; height:555px; vertical-align:top;}
.da dd{ width:870px; height:165px; background:url(../images/bg_c.png) repeat; position:absolute; left:0; bottom:0; z-index:9999; color:#FFF;}
.da dd .name{ width:100%; padding-top:20px; font-size:18px;line-height:150%; text-align:center;}
.da dd .name a{ color:#fff; }
.da dd .des{ font-size:14px; color:#fff; line-height:200%; text-align:center; width:80%; height:80px; overflow:hidden; margin:0px auto; margin-top:10px;}
.pro_gd{ width:870px; margin:0px auto;}
.pro_gd .indexPro {width:100%;height:125px;margin: 0 auto;position: relative;overflow: hidden}
.pro_gd .indexPro span.goleft, .pro_gd .indexPro span.goright {display: block;width: 29px;height: 125px;position: absolute;top:0;}
.pro_gd .indexPro span.goleft {left: 0;}
.pro_gd .indexPro span.goright {right: 0}
.pro_gd .indexPro .go {width:775px;height:125px;position: relative;left:50px;overflow: hidden}
.pro_gd .indexPro .go li {width:176px;height:121px;margin-right:17px;overflow: hidden; cursor:pointer; border:2px solid #fff;}
.pro_gd .indexPro .go li.active{ border:2px solid #F22A33;}
.pro_gd .indexPro .go li img{ width:176px; height:121px; vertical-align:top;}
.pro_gd .indexPro .go li .title,.pro_gd .indexPro .go li .des{ display:none;}




